
#smw.lt-ie9 .smw__header { behavior: none; background: #f5f5f5; }




#smw.lt-ie9 .smw__tab__nav a.active { behavior: none; background: #385f99; }



#smw.lt-ie9 .smw__impression__list__item:hover .smw__impression__list__item__rate { visibility: visible; }
#smw.lt-ie9 .smw__header { behavior: none; background: #f5f5f5; }


#smw.lt-ie9 .smw__impression__list__item:hover  .smw__impression__list__item__nav { visibility: visible; }
#smw.lt-ie9  .smw__impression__list__item__nav { visibility: hidden; }



#smw.lt-ie9  .btn_dgreen,
#smw.lt-ie9  .btn_dgreen_big,
#smw.lt-ie9  .redirect__to,
#smw.lt-ie9  .redirect__back { behavior: none; background: #2a7a12; }
#smw.lt-ie9  .smw__prices__item:hover .smw__prices__buy { visibility: visible; }
#smw.lt-ie9  .smw__prices__buy { visibility: hidden; }
#smw.lt-ie9  .smw__prices__buy { behavior: none; background: #47819e; }

#smw.lt-ie9 .smw__footer { behavior: none; background: #dcfaff; }

