
@import "settings";
#smw{
strong{
  font-weight: 700;
}
  p{
    text-indent: 0 !important;
    text-align: left;
  }
}
$images-layout: vertical;
$images-spacing: 12px;
@import "images/*.png";

#smw {
  font-family:  'Trebuchet MS';
  //font-family:  Arial;
  width: 593px;
  border: 1px solid #d4d4d4;
  text-align: left;
}
@import "header";

@import "content";

@import "typehead";

@import "footer";

@import "jquery.jscrollpane";

.debug{
  background: indianred;
  border: 1px solid #000;
  @include box-sizing(border-box);
  width: 1000px;
  position: absolute;
  left: 0;
  top: 0;
}



@import "lt-ie9";